@page "/";
@page "/Hehe";
@inject FigureRepository FigureRepository
@inject Faker Faker

<NavBar></NavBar>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="4000" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Image/banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="Image/banner2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="Image/banner3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <div class="control_ctn">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </div>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <div class="control_ctn">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </div>
    </button>
</div>
<div class="product_ctn">
    <h2>Nendoroid</h2>
    <p>Mô hình đồ chơi Nhật Bản thiết kế theo phong cách chibi</p>
    <div class="ctn">
		<div class="left_ctn">
		<a href="/nendoroid">
				<img src="Image/nendoroid0.jpg">
		</a>
        </div>
        <div class="right_ctn">
            <div class="products">
				@if (nenFigures != null)
				{
					@for (int i = 0; i < nenFigures.Items.Count; i++)
					{
						<div class="products_item">
							<div class="product_thumb">
								<a href="/figure/@nenFigures.Items[i].Id">
									<img class="product_img" src="@nenFigures.Items[i].Images[0]" alt="">
								</a>
                                <div class="add_cart">
                                    <img src="Image/cart-white.png">
                                    <span>Add To Cart</span>
                                </div>
							</div>
							<div class="product_name_ctn">
								<a href="/figure/@nenFigures.Items[i].Id" class="product_name">@nenFigures.Items[i].ProductName</a>
							</div>
							<div class="product_price">@(nenFigures.Items[i].Price.ToString("#,##0"))₫</div>
						</div>
					}
				}
			</div>
        </div>
    </div>
</div>
<div class="product_ctn">    
    <h2>Gundam</h2>
    <p>Sản phẩm mô hình nhựa plastic phỏng theo các nhân vật trong phim gundam.</p>
    <div class="ctn">
        <div class="right_ctn">
            <div class="products">
				@if (gundamFigures != null) {
					@for (int i = 0; i < gundamFigures.Items.Count; i++)
					{
                        <div class="products_item">
                            <div class="product_thumb">
                                <a href="/figure/@gundamFigures.Items[i].Id">
                                    <img class="product_img" src="@gundamFigures.Items[i].Images[0]" alt="">
                                </a>
                                <div class="add_cart">
                                    <img src="Image/cart-white.png">
                                    <span>Add To Cart</span>
                                </div>
                            </div>
                            <div class="product_name_ctn">
								<a href="/figure/@gundamFigures.Items[i].Id" class="product_name">@gundamFigures.Items[i].ProductName</a>
                            </div>
                            <div class="product_price">@(gundamFigures.Items[i].Price.ToString("#,##0"))₫</div>

                        </div>
					}
				}
            </div>
        </div>
        <div class="left_ctn">
		<a href="/gundam">
            <img src="Image/gundam0.jpg">
		</a>
        </div>
    </div>
</div>
<div class="figure_banner">
    <a href="/scalefigure">
	<img src="Image/banner4.png">
		</a>
</div>
<div class="product_ctn">
    <h2>Scale Figure</h2>
    <p>Những figure được chế tác theo tỉ lệ chuẩn.</p>
    <div class="ctn">
        <div class="products">
			@if (scaleFigures != null)
			{
				@for (int i = 0; i < scaleFigures.Items.Count; i++)
				{
					<div class="figure_product_item">
						<div class="product_thumb">
							<a href="/figure/@scaleFigures.Items[i].Id">
								<img class="product_img" src="@scaleFigures.Items[i].Images[0]" alt="">
							</a>
                            <div class="add_cart">
                                <img src="Image/cart-white.png">
                                <span>Add To Cart</span>
                            </div>
						</div>
						<div class="product_name_ctn">
							<a href="/figure/@scaleFigures.Items[i].Id" class="product_name">@scaleFigures.Items[i].ProductName</a>
						</div>
						<div class="product_price">@(scaleFigures.Items[i].Price.ToString("#,##0"))₫</div>
					</div>
				}
			}
        </div>
    </div>
</div>
<BottomBar></BottomBar>

@code {
	private Pagination<Models.GundamFigure> gundamFigures;
	private Pagination<Models.ScaleFigure> scaleFigures;
	private Pagination<Models.Figure> nenFigures;

	protected override async Task OnInitializedAsync() {
		//await Faker.PopulateRandomFigures();

		gundamFigures = await FigureRepository.GetGundamFigures(null, 1, 6);
		nenFigures = await FigureRepository.GetNendroidFigures(null, 1, 6);
		scaleFigures = await FigureRepository.GetScaleFigures(null, 1, 12);
	}
}